h1, h2, h3, h4, p, a, li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
  list-style-type: square;
}

p, li{
  text-align: left;
}

header p{
  text-align: center;
}

h1, h2, h3, h4{
  font-weight: bold;
  color:#6495ed;
  text-align: center;
}

ol{
  text-align: left;
}

h1{
  color:orangered;
  text-align: center;
}

body{
  background-color: white;
  width: 960px;
}

ul li a:link{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;

}

a:visited{color: darkred);}
a:active{color:blue;}
a:hover{color:white;}

hr{
  height: 3px;
  width: 75%;
  background-color:black}

.mainContent{
  background-color: #696969;
  border-radius: 10px;
  align-content: center;
  margin: auto;
  width: 70%;
  border: 2px solid dimgray;
  padding: 15px;
text-align: center;
}

.subTitle{
  text-transform: uppercase;
  color:#303030 ;
  font-weight: bold;
}

.profilePic{
  border-radius: 10%;
  border: 2px solid black;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}
